

		ul{
			margin-left:0px;
			 margin-bottom:0px;
			margin-top:-3px;
			margin-right:0px;
			border:1px solid #000;
			list-style:none;
			width:320px;
			padding:0px;
		}
		.select{
			background:#36C;
			color:#FFF;
			}
		.select span{
			color:#FFF;
		}
		li{
			line-height:16px;
			font-size:12px;
			padding:2px;
		}
		.suggestspan{
			float:right;
			font-size:12px;
			color:#008000;
			margin-top:-18px;
		}