@charset "utf-8";
/* CSS Document */


body {margin:0;text-align:center;font:normal 12px Arial,Verdana,Tahoma;text-align:center;background:#C8D0D5;line-height:150%;}
a:link,a:visited {color:#385065;text-decoration:none}
a:hover {text-decoration:underline}
#menu {width:150px;margin:0px 15px;padding:0px;text-align:left;list-style:none}
#menu .item {margin:5px 0px;padding:0px;list-style:none}
a.title:link, a.title:visited, a.title:hover {display:block;background:url() no-repeat;color:#385065;font-weight:bold;padding:2px 0 0 22px;width:128px;line-height:23px;cursor:pointer;text-decoration:none}
#menu .item ul {border:1px solid #9FACB7;margin:0;width:128px;padding:3px 0px 3px 30px;background:#C8D0D5;list-style:none;display:none}
#menu .item ul li {display:block;}
